<div class="row centered">
  <h1>Norman Music Fest 2016 Schedule</h1>
  <ul>
      <li class="">{{link-to 'Thursday' 'day' 'thursday'}}</li>
      <li class="">{{link-to 'Friday' 'day' 'friday'}}</li>
      <li class="">{{link-to 'Saturday' 'day' 'saturday'}}</li>
  </ul>
  {{my-shows}}
  <h2>About</h2>
  <p>
    This app was created by Jeremy Green
    (<a href="http://twitter.com/jagthedrummer">@jagthedrummer</a>)
    of <a href="http://www.octolabs.com/">OctoLabs</a> to give people an easier way to
    browse the NMF schedule, especially on mobile devices.
  </p>
  <p>
    This is an un-official project and is not associated with or endorsed by the official
    Norman Music Fest organization.
  </p>
  <p>
    <a href="http://normanmusicfestival.com/">The official Norman Music Fest site can be found at http://normanmusicfestival.com/</a>
  </p>
</div>
